<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="codingdaniel_logomanager" frontName="codingdaniel_logomanager">
            <module name="CodingDaniel_LogoManager" before="Magento_Backend" />
        </route>
    </router>
</config>
